(
    device: (
        orientation: "normal",
        rows: 2,
        cols: 3,
        knobs: 1,
    ),
    layers: [
        (
            buttons: [
                ["ctrl-a,ctrl-s", "b", "c"],
                ["space", "f,o,o,shift-2,b,a,r,dot,c,o,m", "shift-p"],
            ],
            knobs: [
                (ccw: "volumedown", press: "mute", cw: "volumeup"),
            ],
        ),
        (
            buttons: [
                ["click", "rclick", "mclick"],
                ["ctrl-wheelup", "ctrl-wheeldown", "2"],
            ],
            knobs: [
                (ccw: "2", press: "2", cw: "2"),
            ],
        ),
        (
            buttons: [
                ["ctrl-m", "ctrl-slash", "space"],
                ["ctrl-rightbracket", "ctrl-leftbracket", "right"],
            ],
            knobs: [
                (ccw: "3", press: "win-enter", cw: "3"),
            ],
        ),
    ],
)
