Macropad(
    device: (
        orientation: "normal",
        rows: 3,
        cols: 4,
        knobs: 2
    ),
    layers: [
    (
        buttons: [
            ["ctrl-a,ctrl-s", "b", "c", "d"],
            ["e", "f", "g", "h" ],
            ["i", "j", "k", "l"],
        ],
        knobs: [
            (
                ccw: "volumedown",
                click: "mute",
                cw: "volumeup"
            ),
            (
                ccw: "1",
                click: "2",
                cw: "3"
            ),
        ],
    ),
    (
        buttons: [
            ["2", "2", "2", "2"],
            ["2", "2", "2", "2"],
            ["2", "2", "2", "2"],
        ],
        knobs: [
            (
                ccw: "2",
                click: "2",
                cw: "2"
            ),
            (
                ccw: "2",
                click: "2",
                cw: "2"
            ),
        ],
    ),
    (
        buttons: [
            ["ctrl-m", "ctrl-slash", "space", "p"],
            ["ctrl-rightbracket", "ctrl-leftbracket", "right", "left"],
            ["play", "volumeup", "volumedown", "3"],
        ],
        knobs: [
            (
                ccw: "3",
                click: "mute",
                cw: "3"
            ),
            (
                ccw: "3",
                click: "3",
                cw: "3"
            ),
        ],
    ),
    ],
)
