(
    device: (
        // Normal, Clockwise, CounterClockwise, UpsideDown
        orientation: Normal,
        rows: 2,
        cols: 3,
        knobs: 1,
    ),
    layers: [
        // layer 1
        (
            buttons: [
                [(delay: 0, mapping: "ctrl-a,ctrl-s"), (delay: 0, mapping:"b"), (delay: 0, mapping: "c")],
                [(delay: 0, mapping: "space"), (delay: 0, mapping: "f"), (delay: 0, mapping: "g")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "volumedown"), press: (delay: 0, mapping: "mute"), cw: (delay: 0, mapping: "volumeup")),
            ],
        ),
        // layer 2
        (
            buttons: [
                [(delay: 0, mapping: "click"), (delay: 0, mapping: "rclick"), (delay: 0, mapping: "mclick")],
                [(delay: 0, mapping: "ctrl-wheelup"), (delay: 0, mapping: "ctrl-wheeldown"), (delay: 0, mapping: "2")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "2"), press: (delay: 0, mapping: "2"), cw: (delay: 0, mapping: "2")),
            ],
        ),
        // layer 3
        (
            buttons: [
                [(delay: 0, mapping: "ctrl-m"), (delay: 0, mapping: "ctrl-slash"), (delay: 0, mapping: "space")],
                [(delay: 0, mapping: "ctrl-rightbracket"), (delay: 0, mapping: "ctrl-leftbracket"), (delay: 0, mapping: "right")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "3"), press: (delay: 0, mapping: "3"), cw: (delay: 0, mapping: "3")),
            ],
        ),
    ],
)
